$def with (graphsettingsform, graphs, mode='view', itemid=None, message=None)
	$if message!=None:
		<div class="message">
			<h3>$message
			$if mode =='remove':
				<div class="confirm">
					$:graphsettingsform['graph_confirm_action'].render()
					$:graphsettingsform['graph_confirm_itemid'].render()
					$:graphsettingsform['graph_confirm_yes'].render()
					$:graphsettingsform['graph_confirm_no'].render()
				</div>
			</h3>
		</div>
	
	<table>
	<tr>
		<th></th>
		<th>id</th>
		<th>label</th>
		<th>inputdatatype</th>
		<th>io</th>
	</tr>
	$code:
		groupclass = 'g1'
		idx = -1
	$for idx,graph in enumerate(graphs):
		$if mode=='edit' and int(itemid)==int(graph['id']):
			<tr class='$groupclass'>
				<th>
					$:graphsettingsform['itemid'].render()
					$:graphsettingsform['graph_id_'+str(idx)].render()
					$:graphsettingsform['graph_save_'+str(idx)].render()
					$:graphsettingsform['graph_cancel_'+str(idx)].render()
				</th>
				<td>$graph['id']</td>
				<td>$:graphsettingsform['graph_label_'+str(idx)].render()</td>
				<td>$:graphsettingsform['graph_inputdatatypeid_'+str(idx)].render()</td>
				<td>$:graphsettingsform['graph_io_'+str(idx)].render()</td>
			</tr>
			<tr class='$groupclass'>
				<td colspan='5'>
					$for idx,entry in enumerate(graph['entries']):
						$code:
							graphsettingsform['remove_entry'].set_value(entry['id'])
						$entry['label'] $:graphsettingsform['remove_entry'].render(),
					$:graphsettingsform['graph_entry'].render()
					$:graphsettingsform['add_entry'].render()
				</td>
			</tr>
		$else:
			<tr class='$groupclass'>
				<th>
					$:graphsettingsform['graph_id_'+str(idx)].render()
					$:graphsettingsform['graph_edit_'+str(idx)].render()
					$:graphsettingsform['graph_remove_'+str(idx)].render()
				</th>
				<td>$graph['id']</td>
				<td>$graph['label']</td>
				<td>$graph['inputdatatype']</td>
				<td>$graph['io']</td>
			</tr>
		$code:
			groupclass = 'g0' if groupclass=='g1' else 'g1'
			
	$if mode =='add':
		$code:
			idx += 1
		<tr class='$groupclass'>
			<th>
				$:graphsettingsform['graph_id_'+str(idx)].render()
				$:graphsettingsform['graph_save_'+str(idx)].render()
				$:graphsettingsform['graph_cancel_'+str(idx)].render()
			</th>
			<td>*</td>
			<td>$:graphsettingsform['graph_label_'+str(idx)].render()</td>
			<td>$:graphsettingsform['graph_inputdatatypeid_'+str(idx)].render()</td>
			<td>$:graphsettingsform['graph_io_'+str(idx)].render()</td>
		</tr>
		
	</table>
	
	$:graphsettingsform['command'].render()
	$:graphsettingsform['graph_add'].render()
	
	