$def with (inputform, inputs, mode='view', itemid=None, message=None)
	$if message!=None:
		<div class="message">
			<h3>$message
			$if mode =='remove':
				<div class="confirm">
					$:inputform['input_confirm_action'].render()
					$:inputform['input_confirm_itemid'].render()
					$:inputform['input_confirm_yes'].render()
					$:inputform['input_confirm_no'].render()
				</div>
			</h3>
		</div>
		
	<table>
	<tr>
		<th></th>
		<th>id</th>
		<th>iodevice</th>
		<th>pin</th>
		<th>type</th>
		<th>label</th>
		<th>color</th>
	</tr>
	$for idx, d in enumerate(inputs):
		<tr>
		$if mode=='edit' and itemid==d['id']:
			<th>
				$:inputform['input_id_'+str(idx)].render()
				$:inputform['input_save_'+str(idx)].render()
				$:inputform['input_cancel_'+str(idx)].render()
			</th>
			<td>$d['id']</td>
			<td>$:inputform['input_iodevice_'+str(idx)].render()</td>
			<td>$:inputform['input_pin_'+str(idx)].render()</td>
			<td>$:inputform['input_type_'+str(idx)].render()</td>
			<td>$:inputform['input_label_'+str(idx)].render()</td>
			<td>$:inputform['input_color_'+str(idx)].render()</td>
		$else:
			<th>
				$:inputform['input_id_'+str(idx)].render()
				$:inputform['input_edit_'+str(idx)].render()
				$:inputform['input_remove_'+str(idx)].render()
			</th>
			<td>$d['id']</td>
			<td>$d['iodevice']</td>
			<td>$d['pin']</td>
			<td>$d['type']</td>
			<td>$d['label']</td>
			<td>$d['color']<div class="colorsample" style="background-color:$d['color'];">&nbsp;</div></td>
		</tr>
				
	$if mode =='add':
		$code:
			idx += 1
		<tr>
			<th>
				$:inputform['input_id_'+str(idx)].render()
				$:inputform['input_save_'+str(idx)].render()
				$:inputform['input_cancel_'+str(idx)].render()
			</th>
			<td>*</td>
			<td>$:inputform['input_iodevice_'+str(idx)].render()</td>
			<td>$:inputform['input_pin_'+str(idx)].render()</td>
			<td>$:inputform['input_type_'+str(idx)].render()</td>
			<td>$:inputform['input_label_'+str(idx)].render()</td>
			<td>$:inputform['input_color_'+str(idx)].render()</td>
		</tr>
		
	</table>
	$:inputform['command'].render()
	$:inputform['input_add'].render()