$def with (inputtypesform, inputtypes, mode='view', itemid=None, extra=None, message=None)
	$if message!=None:
		<div class="message">
			<h3>$message
			$if mode =='remove':
				<div class="confirm">
					$:inputtypesform['inputtype_confirm_action'].render()
					$:inputtypesform['inputtype_confirm_itemid'].render()
					$:inputtypesform['inputtype_confirm_yes'].render()
					$:inputtypesform['inputtype_confirm_no'].render()
				</div>
			</h3>
		</div>
	<table>
	$code: 
		previd = 0
		group = -1
		groupclass = 'g0'
		
	<tr class='$groupclass'>
		<th></th>
		<th>id</th>
		<th>name</th>
		<th>maxsamplerate</th>
		
		<th>datatype</th>
		<th>unit</th>
		<th>rangebegin</th>
		<th>rangeend</th>
		<th>accuracy</th>
	</tr>
	$for d in inputtypes:
		$if d['id'] != previd:
			$if itemid == previd and previd > 0 and extra != None:
				<tr class="$groupclass">
					<th>
						$:inputtypesform['inputtype_idtid_'+str(group)+'_'+str(idx)].render()
					</th>
					<td></td>
					<td></td>
					<td></td>
					
					<td>$:inputtypesform['inputtype_label_'+str(group)+'_'+str(idx)].render()</td>
					<td>$:inputtypesform['inputtype_unit_'+str(group)+'_'+str(idx)].render()</td>
					<td>$:inputtypesform['inputtype_rangebegin_'+str(group)+'_'+str(idx)].render()</td>
					<td>$:inputtypesform['inputtype_rangeend_'+str(group)+'_'+str(idx)].render()</td>
					<td>$:inputtypesform['inputtype_accuracy_'+str(group)+'_'+str(idx)].render()</td>
				</tr>
			$code:
				group += 1
				groupclass = 'g0' if groupclass=='g1' else 'g1'
				idx = 0
			<tr class='$groupclass'>
			<th>
				$:inputtypesform['inputtype_id_'+str(group)].render()
				$if mode=='edit' and itemid==d['id']:
					$:inputtypesform['inputtype_save_'+str(group)].render()
					$:inputtypesform['inputtype_adddatatype_'+str(group)].render()
					$:inputtypesform['inputtype_cancel_'+str(group)].render()
					</th>
					<td>$d['id']</td>
					<td>$:inputtypesform['inputtype_name_'+str(group)].render()</td>
					<td>$:inputtypesform['inputtype_maxsamplerate_'+str(group)].render()</td>
				$else:
					$:inputtypesform['inputtype_edit_'+str(group)].render()
					$:inputtypesform['inputtype_remove_'+str(group)].render()
					</th>
					<td>$d['id']</td>
					<td>$d['name']</td>
					<td>$d['maxsamplerate']</td>
		$else:
			<tr class="$groupclass">
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			
		$if mode=='edit' and itemid==d['id']:
			<td>
				$:inputtypesform['inputtype_idtid_'+str(group)+'_'+str(idx)].render()
				$:inputtypesform['inputtype_label_'+str(group)+'_'+str(idx)].render()
			</td>
			<td>$:inputtypesform['inputtype_unit_'+str(group)+'_'+str(idx)].render()</td>
			<td>$:inputtypesform['inputtype_rangebegin_'+str(group)+'_'+str(idx)].render()</td>
			<td>$:inputtypesform['inputtype_rangeend_'+str(group)+'_'+str(idx)].render()</td>
			<td>$:inputtypesform['inputtype_accuracy_'+str(group)+'_'+str(idx)].render()</td>
		$else:
			<td>$d['label']</td>
			<td>$d['unit']</td>
			<td>$d['rangebegin']</td>
			<td>$d['rangeend']</td>
			<td>$d['accuracy']</td>
		</tr>
		$code:
			previd = d['id']
			idx += 1
			
	$if itemid == previd and previd > 0 and extra != None:
		<tr class="$groupclass">
			<th></th>
			<td></td>
			<td></td>
			
			<td>
				$:inputtypesform['inputtype_idtid_'+str(group)+'_'+str(idx)].render()
				$:inputtypesform['inputtype_label_'+str(group)+'_'+str(idx)].render()
			</td>
			<td>$:inputtypesform['inputtype_unit_'+str(group)+'_'+str(idx)].render()</td>
			<td>$:inputtypesform['inputtype_rangebegin_'+str(group)+'_'+str(idx)].render()</td>
			<td>$:inputtypesform['inputtype_rangeend_'+str(group)+'_'+str(idx)].render()</td>
			<td>$:inputtypesform['inputtype_accuracy_'+str(group)+'_'+str(idx)].render()</td>
		</tr>
		
	$code:
		group += 1
		groupclass = 'g0' if groupclass=='g1' else 'g1'	
		
	$if mode =='add':
		<tr class="$groupclass">
			<th>
				$:inputtypesform['inputtype_save_'+str(group)].render()
				$:inputtypesform['inputtype_cancel_'+str(group)].render()
				$:inputtypesform['inputtype_id_'+str(group)].render()
			</th>
			<td>*</td>
			<td>$:inputtypesform['inputtype_name_'+str(group)].render()</td>
			<td>$:inputtypesform['inputtype_maxsamplerate_'+str(group)].render()</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>	
	</table>
	$:inputtypesform['command'].render()
	$:inputtypesform['inputtype_add'].render()
