$def with (iodeviceform, iodevices, mode='view', itemid=None, message=None)
	$if message!=None:
		<div class="message">
			<h3>$message
			$if mode =='remove':
				<div class="confirm">
					$:iodeviceform['iodevice_confirm_action'].render()
					$:iodeviceform['iodevice_confirm_itemid'].render()
					$:iodeviceform['iodevice_confirm_yes'].render()
					$:iodeviceform['iodevice_confirm_no'].render()
				</div>
			</h3>
		</div>
		
	<table>
	<tr>
		<th></th>
		<th>id</th>
		<th>label</th>
		<th>port</th>
		<th>timeout</th>
		<th>baud</th>
		<th>samplerate</th>
	</tr>
	$for idx, d in enumerate(iodevices):
		<tr>
		$if mode=='edit' and itemid==d['id']:
			<th>
				$:iodeviceform['iodevice_id_'+str(idx)].render()
				$:iodeviceform['iodevice_save_'+str(idx)].render()
				$:iodeviceform['iodevice_cancel_'+str(idx)].render()
			</th>
			<td>$:d['id']</td>
			<td>$:iodeviceform['iodevice_label_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_port_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_timeout_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_baud_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_samplerate_'+str(idx)].render()</td>
		$else:
			<th>
				$:iodeviceform['iodevice_id_'+str(idx)].render()
				$:iodeviceform['iodevice_edit_'+str(idx)].render()
				$:iodeviceform['iodevice_remove_'+str(idx)].render()
			</th>
			<td>$d['id']</td>
			<td>$d['label']</td>
			<td>$d['port']</td>
			<td>$d['timeout']</td>
			<td>$d['baud']</td>
			<td>$d['samplerate']</td>
		</tr>
	
	$if mode =='add':
		$code:
			idx += 1
		<tr>
			<th>
				$:iodeviceform['iodevice_id_'+str(idx)].render()
				$:iodeviceform['iodevice_save_'+str(idx)].render()
				$:iodeviceform['iodevice_cancel_'+str(idx)].render()
			</th>
			<td>*</td>
			<td>$:iodeviceform['iodevice_label_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_port_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_timeout_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_baud_'+str(idx)].render()</td>
			<td>$:iodeviceform['iodevice_samplerate_'+str(idx)].render()</td>
		</tr>
		
	
	</table>
	$:iodeviceform['command'].render()
	$:iodeviceform['iodevice_add'].render()
	