$def with (outputtypesform, outputtypes, mode='view', itemid=None, extra=None, message=None)
	$if message!=None:
		<div class="message">
			<h3>$message
			$if mode =='remove':
				<div class="confirm">
					$:outputtypesform['outputtype_confirm_action'].render()
					$:outputtypesform['outputtype_confirm_itemid'].render()
					$:outputtypesform['outputtype_confirm_yes'].render()
					$:outputtypesform['outputtype_confirm_no'].render()
				</div>
			</h3>
		</div>
	<table>
	$code: 
		previd = 0
		group = -1
		groupclass = 'g0'

	<tr class='$groupclass'>
		<th></th>
		<th>id</th>
		<th>name</th>
		<th>rangebegin</th>
		<th>rangeend</th>
		<th>maxupdaterate</th>
		<th>label</th>
		<th>value</th>
	</tr>
	$for d in outputtypes:
		$if d['id'] != previd:
			$if itemid == previd and previd > 0 and extra != None:
				<tr class="$groupclass">
					<th></th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						$:outputtypesform['outputtype_ovlid_'+str(group)+'_'+str(idx)].render()
						$:outputtypesform['outputtype_label_'+str(group)+'_'+str(idx)].render()
					</td>
					<td>$:outputtypesform['outputtype_value_'+str(group)+'_'+str(idx)].render()</td>
				</tr>
			$code:
				group += 1
				groupclass = 'g0' if groupclass=='g1' else 'g1'
				idx = 0
			<tr class='$groupclass'>
			<th>
				$:outputtypesform['outputtype_id_'+str(group)].render()
				$if mode=='edit' and itemid==d['id']:
					$:outputtypesform['outputtype_save_'+str(group)].render()
					$:outputtypesform['outputtype_addvaluelabel_'+str(group)].render()
					$:outputtypesform['outputtype_cancel_'+str(group)].render()
					</th>
					<td>$d['id']</td>
					<td>$:outputtypesform['outputtype_name_'+str(group)].render()</td>
					<td>$:outputtypesform['outputtype_rangebegin_'+str(group)].render()</td>
					<td>$:outputtypesform['outputtype_rangeend_'+str(group)].render()</td>
					<td>$:outputtypesform['outputtype_maxupdaterate_'+str(group)].render()</td>
				$else:
					$:outputtypesform['outputtype_edit_'+str(group)].render()
					$:outputtypesform['outputtype_remove_'+str(group)].render()
					</th>
					<td>$d['id']</td>
					<td>$d['name']</td>
					<td>$d['rangebegin']</td>
					<td>$d['rangeend']</td>
					<td>$d['maxupdaterate']</td>
		$else:
			<tr class="$groupclass">
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			
		$if mode=='edit' and itemid==d['id']:
			<td>
				$:outputtypesform['outputtype_ovlid_'+str(group)+'_'+str(idx)].render()
				$:outputtypesform['outputtype_label_'+str(group)+'_'+str(idx)].render()
			</td>
			<td>$:outputtypesform['outputtype_value_'+str(group)+'_'+str(idx)].render()</td>
		$else:
			<td>$d['label']</td>
			<td>$d['value']</td>
		</tr>
		$code:
			previd = d['id']
			idx += 1
	$if itemid == previd and previd > 0 and extra != None:
		<tr class="$groupclass">
			<th></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				$:outputtypesform['outputtype_ovlid_'+str(group)+'_'+str(idx)].render()
				$:outputtypesform['outputtype_label_'+str(group)+'_'+str(idx)].render()
			</td>
			<td>$:outputtypesform['outputtype_value_'+str(group)+'_'+str(idx)].render()</td>
		</tr>
	
	
	$code:
		group += 1
		groupclass = 'g0' if groupclass=='g1' else 'g1'	
		
	$if mode =='add':
		<tr class="$groupclass">
			<th>
				$:outputtypesform['outputtype_save_'+str(group)].render()
				$:outputtypesform['outputtype_cancel_'+str(group)].render()
				$:outputtypesform['outputtype_id_'+str(group)].render()
			</th>
			<td>*</td>
			<td>$:outputtypesform['outputtype_name_'+str(group)].render()</td>
			<td>$:outputtypesform['outputtype_rangebegin_'+str(group)].render()</td>
			<td>$:outputtypesform['outputtype_rangeend_'+str(group)].render()</td>
			<td>$:outputtypesform['outputtype_maxupdaterate_'+str(group)].render()</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	$:outputtypesform['command'].render()
	$:outputtypesform['outputtype_add'].render()


