$def with (data)
<div class="datetime">$data['now'].strftime("%m/%d/%Y %I:%M:%S %p")</div>

<h3>Outputs:</h3>
<table>
	<tr><th></th><th>Status</th><th class="datetime">Date Time</th></tr>
	$for d in data['statuses']['outputs']:
	<tr>
		<th class="label">$d['label']</th>
		<td>
		$if d['datalabel']!='':$d['data'], $d['datalabel']
		$else:$d['data']
		</td>
		$if d['data']=='---':
			<td></td>
		$else:
			<td>$d['datetime'].strftime("%m/%d/%Y %I:%M %p")</td>
	</tr>
</table>

<h3>Inputs:</h3>
$for d in data['statuses']['inputs']:
	$if len(d['inputs']) > 0:
		<table>
			<tr><th>$d['name']</th></tr>
			<tr>
				<th></th>
				$for col in d['datatypes']:
					<th colspan='2'>$col['label']</th>
			</tr>
			$for input in d['inputs']:
				<tr>
					<th>$input['label']</th>
					$for col in d['datatypes']:
						$if input[col['label']]['data']=='---':
							<td>---</td>
							<td></td>
						$else:
							<td>$input[col['label']]['data'] $col['unit']</td>
							<td>$input[col['label']]['datetime'].strftime("%m/%d/%Y %I:%M %p")</td>
				</tr>
		</table>
		<br/>
